<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
	
	<context:component-scan base-package="spring_ex5"><!--spring_ex3이하에있는 @component가 붙어있는걸 다 스캔  -->
	</context:component-scan>
	
	<bean id="tire" class="spring_ex5.Tire"></bean>
		
</beans>